[submodule "src/rohand_unitree_service/ohand_serial_sdkpy"]
	path = src/rohand_unitree_service/ohand_serial_sdkpy
	url = https://github.com/oymotion/ohand_serial_sdk_python.git
[submodule "src/unitree_sdk2_python"]
	path = src/unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python.git
